/* CSS HEX */

$clr-hue: 210;

$clr-primary: hsl($clr-hue, 69%, 61%);
$clr-tertiary: hsl($clr-hue, 57%, 53%);
$clr-primary-light: hsl($clr-hue, 92%, 85%);
$clr-txt-light: hsl($clr-hue, 8%, 65%);
$clr-bg-light: hsla(0, 0%, 67%, 0.6);
$clr-bg-light-transparent: hsla(0, 0%, 67%, 0.5);
$clr-secondary: hsl($clr-hue, 69%, 61%);
$clr-title: hsl($clr-hue, 8%, 15%);
$clr-txt: hsl($clr-hue, 8%, 45%);
$clr-input: hsl($clr-hue, 70%, 96%);
$clr-body: hsl($clr-hue, 60%, 99%);
$clr-container: #fff;
$clr-scroll-bar: hsl($clr-hue, 12%, 90%);
$clr-scroll-thumb: hsl($clr-hue, 12%, 80%);

/* Dark theme */

// $clr-secondary: hsl($clr-hue, 30%, 8%);
// $clr-title: hsl($clr-hue, 8%, 95%);
// $clr-txt: hsl($clr-hue, 8%, 75%);
// $clr-input: hsl($clr-hue, 29%, 16%);
// $clr-body: hsl($clr-hue, 28%, 12%);
// $clr-container: hsl($clr-hue, 29%, 16%);
// $clr-scroll-bar: hsl($clr-hue, 12%, 48%);
// $clr-scroll-thumb: hsl($clr-hue, 12%, 36%);