/* GOOGLE FONTS */

/* WindSong */
@import url("https://fonts.googleapis.com/css2?family=WindSong&display=swap");

/* Source Code Pro */
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;400;600;900&display=swap");

/* Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;900&display=swap");

/* OTHER FONTS */
@font-face {
    font-family: AltonaSans;
    src: url("../../assets/fonts/AltonaSans.ttf");
}
@font-face {
    font-family: BlackPhantom;
    src: url("../../assets/fonts/BlackPhantom.otf");
}
@font-face {
    font-family: HartoneSofted;
    src: url("../../assets/fonts/HartoneSofted.ttf");
}
@font-face {
    font-family: Signature;
    src: url("../../assets/fonts/Signature.otf");
}
