@use "../utils/" as *;

.about__description {
    text-align: center;
    margin-bottom: $mb-25;
}

.about__info {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: $mb-25;
}

.about__info-name {
    font-size: $fs-sm;
}

.about__info-title {
    font-size: $fs-h2;
    font-weight: $fw-semi-bold;
    color: $clr-title;
}

.about__info-name,
.about__info-title {
    display: block;
    text-align: center;
}
