@use "../utils/"as *;

.home {
    &__container {
        gap: 1rem;
    }

    &__content {
        grid-template-columns: 0.5fr 3fr;
        padding-top: 3.5rem;
        align-items: center;
    }

    &__img-file {
        width: 200px;
    }

    &__img {
        justify-self: center;
    }
}