@use "../utils/" as *;

.landing__page {
    height: 90vh;
    background: $clr-dark;
    text-align: center;
    color: $clr-light;

    .intro {
        position: absolute;
        top: 40%;
        right: 50%;
        transform: translate(50%, -50%);
    }
}
