@use "../utils/"as *;

.portfolio {
    &__container {
        overflow: initial;
        position: relative;
    }

    &__content {
        align-items: center;
        margin: 2rem .5rem;
    }

    &__img {
        width: 225px;
        height: 200px;
        border-radius: 0.5rem;
        justify-self: center;
        box-shadow: $bsh-reg-light;
    }

    &__title {
        font-size: $fs-h3;
        margin-bottom: $mb-05;
    }

    &__description {
        margin-bottom: $mb-075;
    }
}