@use "../utils/" as *;

@media (min-width: 1024px) {
    .header,
    .main,
    .footer__container {
        padding: 0;
    }

    .home {
        &__blob {
            width: 320px;
        }

        &__social {
            transform: translateX(85vw) translateY(35vh);

            &__rounder {
                display: inline-block;
                width: 13px;
                height: 13px;
                background-color: $clr-primary;
                border-radius: 50%;
                opacity: 0;
            }

            &__line {
                display: block;
                width: 1px;
                height: 100%;
                background-color: $clr-primary;
                transform: translate(0.5rem, -0.5rem);
            }
        }
    }

    .portfolio__content {
        column-gap: 5rem;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
        font-size: 1.8rem;
    }

    .contact {
        &__form {
            width: 460px;
        }

        &__inputs {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
