@use "../utils/" as *;

@media (max-width: 350px) {
    .container {
        margin-left: $mb-10;
        margin-right: $mb-10;
    }

    .nav {
        &__menu {
            padding: 2rem 0.25rem 4rem;
        }

        &__list {
            column-gap: 0;
        }
    }

    .home {
        &__content {
            grid-template-columns: 0.25fr 3fr;
        }

        &__blob {
            width: 180px;
        }

        &__img {
            justify-self: center;
        }
    }

    .skills__title {
        font-size: $fs-body;
    }

    .qualification__data {
        gap: 0.5rem;
    }

    // .services {
    //     &__container {
    //         grid-template-columns: max-content;
    //         justify-content: center;
    //     }

    //     &__content {
    //         padding-right: 3.5rem;
    //     }

    //     &__services__modal {
    //         padding: 0 0.5rem;
    //     }
    //     //..
    // }
    // .mySwiper {
    //     padding: 0;
    // }

    // .swiper {
    //     &-button {
    //         &-prev {
    //             left: 0.15rem;
    //         }
    //         &-next {
    //             right: 0.15rem;
    //         }

    //         &-prev,
    //         &-next {
    //             color: $clr-primary;
    //             top: 26%;

    //             &::after,
    //             &::after {
    //                 font-size: 1.5rem;
    //                 border-radius: 1px solid red;
    //             }
    //         }
    //     }

    //     &-horizontal > &-pagination-bullets {
    //         bottom: 0;
    //     }

    //     &-pagination-bullet-active {
    //         background-color: $clr-primary;
    //     }
    // }
}
