@use "../utils" as *;

.nav__btn {
    display: flex;
    align-items: center;
}

.change-theme {
    font-size: 1.25rem;
    color: $clr-title;
    margin-right: $mb-10;
    cursor: pointer;

    &:hover {
        color: $clr-primary;
    }
}
