@use "../utils/"as *;

.swiper {
    position: static;

    &-button {
        &-prev {
            left: 0.15rem;
        }

        &-next {
            right: 0.15rem;
        }

        &-prev,
        &-next {
            // color: $clr-primary;
            color: $clr-icon-secondary;
            border-radius: 0.25rem;
            transition: 0.3s;
            top: 35%;

            &::after,
            &::after {
                font-size: 1.5rem;
            }
        }
    }

    &-horizontal>&-pagination-bullets {
        bottom: 0;
    }

    &-pagination-bullet-active {
        background-color: $clr-primary;
    }
}