@use "../utils/" as *;

.swiper {
    &-button {
        &-prev {
            left: 0.15rem;
        }
        &-next {
            right: 0.15rem;
        }

        &-prev,
        &-next {
            color: $clr-primary;
            top: 26.5%;
            border-radius: 0.25rem;
            background: $clr-bg-light-transparent;

            &:hover {
                background: $clr-bg-light;
            }

            &::after,
            &::after {
                font-size: 1.5rem;
            }
        }
    }

    &-horizontal > &-pagination-bullets {
        bottom: 0;
    }

    &-pagination-bullet-active {
        background-color: $clr-primary;
    }
}
