@use "../utils/"as *;

.qualification {
    &__icon {
        color: $clr-icon-hover;
    }

    &__tabs {
        display: flex;
        justify-content: space-between;
        margin-bottom: $mb-20;
    }

    &__data {
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        column-gap: 1.5rem;
    }

    &__title {
        font-size: $fs-body;
        font-weight: $fw-reg;
    }

    &__subtitle {
        display: inline-block;
        font-size: $fs-sm;
        margin-bottom: $mb-05;
    }

    &__calendar {
        font-size: $fs-xsm;
        color: $clr-txt-light;
    }

    &__rounder {
        display: inline-block;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: $clr-icon-tertiary;
    }

    &__line {
        display: block;
        width: 1px;
        height: 100%;
        transform: translate(6px, -7px);
        background-color: $clr-icon-tertiary;
    }

    .cal__icon {
        margin-right: $mb-025;
    }
}