@use "../utils/"as *;

.skills {
    &_container {
        row-gap: 0;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: $mb-25;
    }

    &__icon,
    &__arrow {
        font-size: 1.5rem;
        color: $clr-icon-secondary;
    }

    &__arrow {
        cursor: pointer;
    }

    &__title {
        font-style: $fs-h3;
    }

    &__subtitle {
        font-size: $fs-sm;
        color: $clr-txt;
    }

    &__list {
        row-gap: 1.5rem;
        padding-left: 3.3rem;
        height: max-content;
        width: 90%;
        margin-bottom: $mb-25;
    }

    &__title {
        display: flex;
        justify-content: space-between;
        margin-bottom: $mb-05;
    }

    &__name {
        font-style: $fs-body;
        font-weight: $fw-reg;
    }

    &__bar,
    &__percentage {
        height: 5px;
        border-radius: 0.25rem;
    }

    &__bar {
        background-color: $clr-primary-light;
    }

    &__percentage {
        display: block;
        background-color: $clr-primary;
    }

    &__html {
        width: 90%;
    }

    &__css {
        width: 80%;
    }

    &__react,
    &__express {
        width: 70%;
    }

    &__javascript,
    &__nodejs,
    &__firebase {
        width: 60%;
    }
}