@use "../utils" as *;

.home__social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home__social-icon {
    font-size: 1.2rem;
    color: $clr-primary;
}

.home__socials-icon:hover {
    color: $clr-tertiary;
}
